{{#each}}
<section id="{{ div_id }}">
    <div class="portfolioPiece">
        <div class="pieceHead">
            <img class="pieceImage" src="{{ piece_image }}" alt="{{ piece_title }}">
        </div>
        <div class="pieceBody">
            <div class="pieceInfo">
                <h3 class="pieceCategory">{{ piece_category }}</h3>
                <hr>
                <p class="pieceDescription">{{ piece_info }}</p> 
            </div>
            <div class="pieceMore">
                <p>Software Used:</p>
                <ul class="pieceSoftware">
                    <li><img class="invis" src="img/aiLogo.png"></li>
                    <li><img class="invis" src="img/psLogo.png"></li>
                    <li><img class="invis" src="img/prLogo.png"></li>
                    <li><img class="invis" src="img/aeLogo.png"></li>
                    <li><img class="invis" src="img/vsCodeLogo.png"></li>
                    <li><img class="invis" src="img/cinema4d.png"></li>
                </ul>
                <a href="/{{ title }}">Read More</a>
            </div>
        </div>
    </div>
</section>
{{/each}}